<%- include('../partials/adminHeader') %>


                
<div style="text-align: right;">

<form action="/admin/sales-report" method="POST" id="dateForm">
    <div>
      <label for="startdate">Start Date:</label>
      <input type="date" name="startdate" id="startdate">
    </div>
    <div>
      <label for="enddate">End Date:</label>
      <input type="date" name="enddate" id="enddate">
    </div>
   
    <div class="ml-3 my-auto">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
  </div> 
  <table class="table table-striped" id="container_content">
    <thead>
      <tr>
        <th scope="col">OrderId</th>
        <th scope="col">User Id</th>
        <th scope="col">Item Id</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Delivered Date</th>
      </tr>
    </thead>
    <tbody id="order_data">
  
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-right">Total Earnings: &nbsp; <span class="fw-bold"></span> <strong id="total_earnings"></strong></td>
      </tr>
    </tfoot>
  </table>
        
</div>
</body>
</html>
<script>
    $(document).ready(function() {
      $('#dateForm').submit(function(event) {
        event.preventDefault(); // Prevent default form submission
    
        const formData = $(this).serialize(); // Get form data
        
        // Send AJAX request
        $.ajax({
          url: '/admin/salesReportPost',
          type: 'POST',
          data: formData,
          success: function(orders) {
            // Handle response data
            const order_data = $('#order_data');
            const total_earnings = $('#total_earnings');
            let total = 0;
    
            // Loop through each order and add a row to the table
            orders.forEach(function(order) {
              order.orderList.forEach(function(item) {
                const row = $('<tr></tr>');
                row.append($('<td></td>').text(order._id));
                row.append($('<td></td>').text(order.userId));
                row.append($('<td></td>').text(item.items[0].productId));
                row.append($('<td></td>').text(item.items[0].price));
                row.append($('<td></td>').text(item.items[0].quantity));
                row.append($('<td></td>').text(item.paymentMethod));
                row.append($('<td></td>').text(item.creationTime));
                order_data.append(row);
                total += parseFloat(item.items[0].price) * parseFloat(item.items[0].quantity);
              });
            });
    
            // Set the total earnings
            total_earnings.text(total.toLocaleString("en-IN", {
              style: "currency",
              currency: "INR"
            }));
          },
          error: function(error) {
            // Handle errors
            console.error(error);
          }
        });
      });
    });
    </script>
 
 
 