<!DOCTYPE ejs>
<ejs lang="en">


<!-- Mirrored from wp.alithemes.com/ejs/evara/evara-backend/index.ejs by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/the-urban-lane-website-favicon-color.svg"> -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/user-table.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/otpstyles.css" rel="stylesheet" type="text/css" />
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" -->
 
</head>

<body>
 
  
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                
                <!-- <img src="assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard"> -->
                <img src="/assets/imgs/the-urban-lane-low-resolution-logo-black-on-white-background (1).png" class="logo" alt="Evara Dashboard">
                <!-- <a href="/admin/dashboard">
                    <img src="/assets/imgs/the-urban-lane-low-resolution-logo-black-on-white-background (1).png" alt="logo" style="max-width: 85px; height:auto;margin-right:90px;margin-left:-30px;">
                  </a> -->
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/productList">Product List</a>
                        <!-- <a href="page-products-grid.ejs">Product grid</a>
                        <a href="page-products-grid-2.ejs">Product grid 2</a> -->
                        <a href="/admin/categoryView">Categories</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/User-list"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>      
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/pageOrders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.ejs">Order list 1</a>
                        <a href="page-orders-2.ejs">Order list 2</a>
                        <a href="page-orders-detail.ejs">Order detail</a>
                    </div>
                </li>
               
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/addProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/addProduct">Add product </a>
                        <!-- <a href="page-form-product-2.ejs">Product List</a>
                        <a href="page-form-product-3.ejs">Add product 3</a>
                        <a href="page-form-product-4.ejs">Add product 4</a> -->
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/bannerForm"> <i class="icon material-icons md-nature"></i>
                        <span class="text">Banners</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/bannerForm">Add Banners </a>
                        <a href="/admin/bannerList">Banner List</a>
                        <a href="page-form-product-3.ejs">Add product 3</a>
                        <a href="page-form-product-4.ejs">Add product 4</a>
                    </div>
                
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.ejs">User login</a>
                        <a href="page-account-register.ejs">User registration</a>
                        <a href="page-error-404.ejs">Error 404</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-money"></i>
                        <span class="text">Coupon</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/couponGenerate">Generate Coupon</a>
                        <a href="/admin/couponlist">Coupon List</a>
                       
                    </div>
                </li>
                
            </ul>
            <hr>
            <ul class="menu-aside">
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <p style="margin-left:900px ;"><h3>ADMIN PANEL</h3></p>
           
    
        </header>