<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
<head>
    <meta charset="utf-8">
    <title>The Urban Lane</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
 
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container" style="margin-top: -30px;background-color: rgb(250, 255, 252);" >
                <div class="header-wrap">    
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/assets/imgs/the-urban-lane-low-resolution-logo-black-on-white-background (1).png" alt="logo"></a>
                        
                    </div>
                    <div style="margin-bottom: 25px; margin-left:310px;">
                        <h2 style="font-family:'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif; font-size: 36px; font-weight: bold; color: #046963; text-align:left; margin-bottom: -20px;">Checkout</h2>   
                    </div>
                   
                </div>
                <div class="col-12" style="margin-top: -60px;">
                    <div class="divider mt-50 mb-50"></div>
                </div>
            </div>
        </div>
       