<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
    background-color: #5165ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.modal-body {
    background-color: #fff;
    border-color: #fff;

}


.close {
    color: #000;
    cursor: pointer;
}

.close:hover {
    color: #000;
}


.theme-color{

    color: #004cb9;
}
hr.new1 {
    border-top: 2px dashed #fff;
    margin: 0.4rem 0;
}


.btn-primary {
    color: #fff;
    background-color: #004cb9;
    border-color: #004cb9;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}


.btn-primary:hover {
    color: #fff;
    background-color: #004cb9;
    border-color: #004cb9;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}
    </style>
</head>
<body>
    
    
                    <div class="px-4 py-5">
    
                        <h5 class="text-uppercase">Jonathan Adler</h5>
    
    
    
                    <h4 class="mt-5 theme-color mb-5">Thanks for your order</h4>
    
                    <span class="theme-color">Payment Summary</span>
                    <div class="mb-3">
                        <hr class="new1">
                    </div>
    
                    <div class="d-flex justify-content-between">
                        <span class="font-weight-bold">Ether Chair(Qty:1)</span>
                        <span class="text-muted">$1750.00</span>
                    </div>
    
                    <div class="d-flex justify-content-between">
                        <small>Shipping</small>
                        <small>$175.00</small>
                    </div>
    
    
                    <div class="d-flex justify-content-between">
                        <small>Tax</small>
                        <small>$200.00</small>
                    </div>
                    
                    <div class="d-flex justify-content-between mt-3">
                        <span class="font-weight-bold">Total</span>
                        <span class="font-weight-bold theme-color">$2125.00</span>
                    </div>  
    
    
    
                    <div class="text-center mt-5">
    
    
                        <button class="btn btn-primary">Track your order</button>
                        
    
    
                    </div>                   
    
                    </div>
    
    
                </div>
            </div>
        </div>
    </div>
</body>
</html>