<%- include('../partials/checkOutPartial') %> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



        <section class="mt-50 mb-50">
            <div class="container">
               
                <div class="row">
                   
                    <div class="col-lg-6">
                        <!-- class="panel-collapse collapse coupon_form "
                      -->
                        <div  id="coupon">
                         
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post" action="/userCouponPost" id ="coupon-form">
                                    <div class="form-group">
                                        <input type="text" name="couponCode" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md"  type = "submit" name="login">Apply Coupon</button>
                                    </div>
                                    <p id="errormsg" style="color:red" ></p>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <form action="/orderConfirmationpart3" method="post">
                    <div class="col-md-6" style="border: 1px solid lightgrey; padding: 10px;">
                        <h3 style="font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; margin-bottom: 10px;">Choose Payment Method</h3>
                        <div class="payment_option">
                          <div class="custome-radio">
                            <input class="form-check-input" required="" type="radio" name="payoption" id="exampleRadios3" value="cod" >
                            <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash On Delivery</label>
                            <div class="form-group collapse in" id="bankTranfer">
                              <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                            </div>
                          </div>
                          <div class="custome-radio">
                            <input class="form-check-input" required="" type="radio" name="payoption" id="exampleRadios4" value="razorpay" >
                            <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Razor pay</label>
                            <div class="form-group collapse in" id="checkPayment">
                              <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                            </div>
                          </div>
                          <div class="custome-radio">
                            <input class="form-check-input" required="" type="radio" name="payoption" id="exampleRadios5" value="paypal" >
                            <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Paypal</label>
                            <div class="form-group collapse in" id="paypal">
                              <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>
                <button type="submit" class="btn btn-fill-out btn-block mt-30">Continue</button>
                    </form>
                <div class="row">
                    <div class="col-md-6" style="margin-left: 10px;">                      
                   
                    </div>
                    <div class="card w-50 h-10">
                        <div>
                        <div class="card-header" style="margin-top: 5px;">
                          Order Summary
                        </div>
                        <% let cartTotal=0 %>
                        <% for(let i=0;i<product.length;i++){ %>
                            <% cartTotal+=product[i].subtotal %>
                             <% } %>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Subtotal
                            <span>$<%=cartTotal %></span>
                          </li>

                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Delivery Amount
                            <span>$0</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center" >
                           Offer
                            <span id="discountTag">$0</span>
                          </li>
                         
                          <li class="list-group-item d-flex justify-content-between align-items-center fw-bold">
                            Order Total
                          
                            <span id="totalTag">$<%=cartTotal %></span>
                          </li>
                        </ul>
                        <canvas id="confetti-canvas"></canvas>
                        
                       
                        </div> 
                        <div style="margin-top: 20px;">   
                    <div class="col-md-12">
                        <div class="order_review">
                            <div class="mb-20">
                               
                                
                            </div>
                                                      
                           
                           
                            <!-- <a href="/OrderCreation" class="btn btn-fill-out btn-block mt-30">Proeceed to Pay</a> -->
                            <div class="toggle_info" style="margin-top: 30px;">
                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                            </div>

                        </div>
                       
                        
                    </div>
                </div> 
                      </div>
                      
                 
                            <div class="table-responsive order_table text-center">
                                 
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                              
                               
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/userFooter') %> 
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <script>
        window.history.forward();
        function preventBack() {
          window.history.forward();
        }
        setTimeout("preventBack()", 10);
        window.onunload = function() {
          window.replace('/');
        };
      </script>
      <script>
        $(document).ready(function() {
           
       $('#coupon-form').submit(function(event) {
         // Prevent the default form submission
         event.preventDefault();
     
         // Get the form data
         var formData = $('#coupon-form').serialize();
     
         // Make the AJAX request
         $.ajax({
           type: 'Post',
           url: '/userCouponPost',
           data: formData,
           dataType:'json',
           success: function(response) {
              if(response.expiry==true)
              {
                let  error = document.getElementById("errormsg");
                error.textContent = "Coupon Expired";
              }
              else if(response.exist==true)
              {
                let  error = document.getElementById("errormsg");
                error.textContent = "Already used";
              }
              else if(response.totallow==true)
              {
                          
                let  error = document.getElementById("errormsg");
                error.textContent = "Minimum total purchase amount should be $"+response.minAmount;
              }
              else{
                let Total = document.getElementById("totalTag");
                let discountTag=document.getElementById("discountTag");
                Total.textContent = "$"+response.discountedTotal;
                discountTag.textContent= "$"+response.discountAmount;
              
                const jsConfetti = new JSConfetti()

                 jsConfetti.addConfetti();
    
                swal("Congrats!!", "You saved: $"+response.discountAmount, "success");

               
           }
        },
           error: function(xhr, status, error) {
            console.log("error");
           }
         });
       });
     })
         </script>
    <!-- Vendor JS-->
    
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>
   
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>